.yearpicker-container {
    position: absolute;
    color: var(--text-color);
    width: 189px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
    z-index: 10;
    margin-top: 0.2rem;
}

.yearpicker-items {
    padding: 0.5rem 0.5rem;
}

.btn-float {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #376F70;
    color: white;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    transition: all ease 0.3s;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#btn_maxmin_map {
    pointer-events: auto;
}

.btn-custom, .btn-float {
    background-color: #007196;
    color: white !important;
}

.btn-float .glyphicon-chevron-down {
    padding: 5px;
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.shadow-all {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

.btn-float:hover {
    transform: scale(1.2);
}
.no-height {
    opacity: 0;
    z-index: -1;
}

.time-layer-ledgend-div {
    right: 35px;
}